
/*HEADER*/
.jumbotron{
	text-transform: uppercase;
}

.jumbotron .dropdown-menu{
	text-transform: capitalize;
}

.jumbotron #btnGroupDrop1{
	text-transform: uppercase;
}

/*NAVBAR*/

nav.navbar{
	width: 100%;
	position: absolute;
	z-index: 6;
}

.navbar-toggler{
	background-color: #fff;	
}

.navbar-toggler-icon{
	color: #000 !important;
}

.homeContact{
	padding: 0.6rem 0.7rem !important;
}

.navbar .nav-item{
	font-size: 0.7rem;
	margin: 2px;
	cursor: pointer;
}

.navbar .hover{
	font-weight: bold;
}

.navbar .hover a{
	background-color: rgba(255,255,255, 0.2);
	padding: 0.5rem 0.8rem !important;
}

.navbar .hover a:hover{
	background-color: #FE4240;
	color: #fff !important;
}

@media(max-width: 999px){
	.jumbotron h2{
		margin : 0 !important;
	}
} 

/*bouton Genre*/

#btnGroupDrop1{
	background-color: #FE4240;
	color: #fff !important;
	padding: 0.5rem !important;
	font-weight: bold;
	border: none;
	border-radius: 0 0 0 4px;
	cursor: pointer;
}

#btnGroupDrop1:hover{
	background-color: #FE4240;
	color: #fff !important;
}

.jumbotron img{
	filter: brightness(0.30);
	height: 80vh !important;
}

.jumbotron h2{
	font-family: 'Muli', sans-serif;
	font-size : 2.5rem;
	margin: 1.3rem 2rem;
}

.jumbotron .lead{
	color :rgba(255,255,255, 0.6);
	font-size: 0.8rem;
	letter-spacing: 3px;
}

.carousel-caption{
	margin-bottom: 9rem;
}

.carousel-caption a{
	font-size: 0.7rem;
}

.carousel-indicators{
	margin-bottom: 9rem;
}

/*input recherche*/
.input-group{
	width: 11rem;
	height: 1.5rem;
	border : none;
	position: absolute;
	right: 3rem;
}

.input-group input[type=text]{
	color: #fff;
	font-size: 0.8rem;
	border: none;
	border-radius: 20px;
	background-color :rgba(255,255,255, 0.1);	
}

.input-group span{
	background-color :rgba(255,255,255, 0.1);
	border: none;
	border-radius: 20px;
}

/*ALIXE*/

main h2{
	border-left: solid 4px #FE4240; 
	margin-left: 232px; 
	border-radius: 1px;
}


								/*ALIXE*/


.btn_section{
				width: 95px;
				height: 34px;
				margin-bottom: 30px;
				margin-top: 30px;
				border-style: none;

}

.btn_section:hover{
	background-color: #FE4240;
	color: white;

}

#first_btn{
	width: 90px;
	height: 34px;
	margin-left: 364px;

}

#last_btn{
	width: 110px;
	

}

.first_movies{

	justify-content: center;
	margin-bottom: 30px;

}

.card-body {

	background-color: #0D0D0D;
	color:white;
}
/*
element.style {
    background-image: url(https://i.ytimg.com/vi/_etwz7NkemE/hqdefault.jpg);
    height: 370.45px;

}

 object{
		
		height: 437px;
 }

.card-text{

 	height: 393.45px;
 }

 .card-img-top shop{

 }*/

 .shop_movies card-img-top{

 	width: 150px;

 }

 .shop_movies .card-deck .card {
    width: 120%;
}
 
 								/*FOOTER*/

.generale{

background-color: #0D0D0D;
color: white;



}

  #titre .container{
  	display: flex;
  	justify-content: space-between;
  }

  .head #container{
  	display: flex;
  	justify-content: center;
  }

  .main .container{
  	display: flex;
  	justify-content: space-between !important;
  }

  .deco{
  	height: 50px;
  	border-top: solid 1px #101211;
  	border-bottom: solid 1px #101211;
  }

  .footer .container{
  	display:flex;
  	justify-content: center;
  }

  .footer .icon{
  	display: flex;
  	justify-content: center;
  }