
/*HEADER*/
.jumbotron{
	text-transform: uppercase;
}

.jumbotron .dropdown-menu{
	text-transform: capitalize;
}

.jumbotron #btnGroupDrop1{
	text-transform: uppercase;
}

/*NAVBAR*/

nav.navbar{
	width: 100%;
	position: absolute;
	z-index: 6;

}

.homeContact{
	padding: 0.5rem 0.7rem !important;
}

.navbar .nav-item{
	font-size: 0.7rem;
	/*padding: 0.5rem 0.7rem !important;*/
	margin: 2px;
	cursor: pointer;
}

.navbar .hover{
	/*font-size: 0.7rem;
	margin: 2px;*/
	font-weight: bold;
	
}

.navbar .hover a{
	background-color: rgba(255,255,255, 0.2);
	padding: 0.5rem 0.7rem !important;
}

.navbar .hover a:hover{
	background-color: #FE4240;
	color: #fff !important;
}

/*bouton Genre*/

#btnGroupDrop1{
	background-color: #FE4240;
	color: #fff !important;
	padding: 0.5rem !important;
	font-weight: bold;
	border: none;
	border-radius: 0 0 0 5px;
	cursor: pointer;
}

#btnGroupDrop1:hover{
	background-color: #FE4240;
	color: #fff !important;
}

.jumbotron img{
	filter: brightness(0.30);
	height: 80vh !important;
}

.jumbotron h2{
	font-family: 'Muli', sans-serif;
	font-size : 2.5rem;
	margin: 1.8rem 2rem;
}

.jumbotron .lead{
	color :rgba(255,255,255, 0.6);
	font-size: 0.8rem;
	letter-spacing: 3px;
}

.carousel-caption{
	margin-bottom: 9rem;
}

.carousel-caption a{
	font-size: 0.7rem;
}

.carousel-indicators{
	margin-bottom: 9rem;
}

/*input recherche*/
.input-group{
	width: 11rem;
	height: 1.8rem;
	border : none;
}

.input-group input[type=text]{
	border: none;
	border-radius: 20px;	
}

.input-group span{
	border: none;
	border-radius: 20px;
}

/*ALIXE*/

main h2{
	border-left: solid 4px #FE4240; 
	margin-left: 232px; 
	border-radius: 1px;
}

.btn_section{
				width: 95px;
				height: 34px;
				margin-bottom: 30px;



}

.btn_section:hover{
	background-color: #FE4240;

}

#first_btn{
	width: 90px;
	height: 34px;
	margin-left: 364px;

}

#last_btn{
	width: 110px;
	

}

.first_movies{

	justify-content: center;
	margin-bottom: 30px;

}